.year{
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 60px;
}
.day{
    flex-direction: row;
    margin: 50px;
    align-content: center;
    padding-left: 50px;
}
.month{
    flex-direction: row;
    margin: 50px;
    align-content: center;
}
.radio{
    margin: 50px
}
.submit{
    background: transparent;
    display: block;
    text-align: center
}
.intro{
    text-align: center;
    color: green;
    font-style: oblique;
}
p.intro{
    text-align: center;
    color: purple;
    font-style: italic;
}
.important{
    text-align: center;
    color: purple;
    font-style: italic;
}
.more-important{
    display: block;
    text-align: center;
    border-style: solid;
    border-color: blue;
    border-radius: 80px;
}